<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div th:include="fragments/header :: header"> </div>
</header>
<body>
        <table th:if="${users} != null">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user_e: ${users}" >
                        <td th:text="${user_e.getEmail()}"></td>
                        <td th:text="${user_e.getName()}"></td>
                        <td th:text="${user_e.getRole()}"></td>
                        <td><a th:href="@{/admin/edit/} + ${user_e.getid()}">Edit</a></td>
                </tr>
            </tbody>
        </table>
</body>
</html>