<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div th:include="fragments/header :: header"> </div>
</header>
<body>
    <span th:if="${submissions} != null" >
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Contact</th>
                    <th>Format</th>
                    <th>Version<th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="submission: ${submissions}"
                    th:onclick="'window.location.href=\'/submission/' + ${submission.getId()} + '\''">
                        <td th:text="${submission.getTitle()}"></td>
                        <td th:text="${submission.getEmail()}"></td>
                        <td th:text="${submission.getFormat()}"></td>
                        <td th:text="${submission.getVersion()}"></td>
                </tr>
            </tbody>
        </table>
    </span>
    <form action="/author/new" method="get">
        <input type="submit" value="New Submission">
    </form>

</body>
<script>
    function rowClicked(value) {
        location.href = "/myurl?sub_id=" + value;
    }
</script>
</html>