<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Author - Upload New Paper</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/normalize.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/webflow.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/sam2021.webflow.css}" rel="stylesheet" type="text/css">
    <style>.w-container {max-width: 1400px;}</style>
</head>
<body>
<div class="w-container">

    <header>
        <div th:include="fragments/header :: header"> </div>
    </header>


    <div class="section">
        <h1 class="heading">Upload New Paper</h1>
        <p class="paragraph">Please add the necessary details.</p>
        <div class="form-block w-form">

            <form id="form" name="form" data-name="form" class="form" method="POST" action="/author/new" enctype="multipart/form-data">
                <div>
                    <label for="email" class="field-label">Email*</label>
                    <input type="text" class="text-field w-input" maxlength="256" name="email" data-name="email" placeholder="john@gmail.com" id="email" required=""></div>
                <div><label for="title" class="field-label">Title of the Paper*</label>
                    <input type="text" class="text-field w-input" maxlength="256" name="title" data-name="title" placeholder="The Theory of Everything" id="title" required=""></div>
                <div><label for="authorList" class="field-label">Authors*</label>
                    <input type="text" class="text-field w-input" maxlength="256" name="authorList" data-name="authorList" placeholder="Morgan Freeman,  Benjamin Graham, Elon Musk" id="authorList"></div>
                <div class="w-row">
                    <div class="w-col w-col-6">
                        <div class="text-block-11">Version Number*</div>

                        <input id="version" name="version" type="number" min="0" step="1" class="w-select" required="">
                    </div>
                    <div class="w-col w-col-6">
                        <div class="text-block-11">File Format*</div><select id="format" name="format" data-name="format" class="w-select">
                        <option value="">Select one...</option>
                        <option value="First">PDF</option>
                        <option value="Second">DOC</option>
                        <option value="Third">DOCX</option>
                    </select>
                    </div>
                </div>

                <div class="columns-4 w-row">
                    <div class="w-col w-col-6">
                        <div class="text-block-11">Select File*</div>


                        <input class="submit-button upload w-button" type="file" name="file" accept=".pdf,.doc,.docx" required =""/> <br/><br/>

                    </div>
                    <div class="w-col w-col-6"></div>
                </div>

                <div class="submit-new-paper submit"><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button uploadnew w-button"></div>

                <div class="w-form-done" th:if="${message}">
                    <h2 th:text="${message}"/>
                </div>

            </form>

        </div>
    </div>
</div>
</body>
</html>