<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>SAM2021</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/forms.css}" rel="stylesheet"/>
</head>
<header>
    <div th:include="fragments/header :: header"> </div>
</header>
<body>
<div class="form">
    <form method="POST" action="/author/new" enctype="multipart/form-data">

        <label for="email">Contact Email:</label>
        <input id="email" name="email" type="text" required><br>

        <label for="authorList">Authors to credit:</label>
        <input id="authorList" name="authorList" type="text" required><br>

        <label for="title">Paper Title:</label>
        <input id="title" name="title" type="text" required><br>

        <label for="format">File Format:</label>
        <select id="format" name="format">
            <option value="pdf">.pdf</option>
            <option value="doc">.doc</option>
            <option value="docx">.docx</option>
        </select><br>

        <label for="version">File Version:</label>
        <input id="version" name="version" type="number" min="0" step="1" required><br>

        <input type="file" name="file" accept=".pdf,.doc,.docx"required/> <br/><br/>
        <input type="submit" value="Submit">
        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>
    </form>
</div>
</body>
</html>