<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div th:include="fragments/header :: header"> </div>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
</header>
<body>
<p th:text="'Hello ' +  ${name}"></p>
<p th:if="${param.error}!=null" th:text="${param.error}"></p>
    <span th:if="${s_reviews} != null" th:include="fragments/review-table :: review-table(reviews=${s_reviews},reviewtype='Submitted')">
    </span>
    <span th:if="${a_reviews} != null" th:include="fragments/review-table :: review-table(reviews=${a_reviews},reviewtype='Assigned')">
    </span>
    <span th:if="${r_reviews} != null" th:include="fragments/review-table :: review-table(reviews=${r_reviews},reviewtype='Requested')">
    </span>
    <span th:if="${s_papers} != null" th:include="fragments/paper-table :: paper-table(papers=${s_papers},paperstate='Submitted')">
    </span>
</body>
</body>
</html>