<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div th:include="fragments/header :: header"> </div>
</header>
<body>
<p th:text="'Hello ' +  ${name}"></p>
    <span th:if="${s_reviews} != null" th:include="fragments/s_review_table :: s_review_table">
    </span>
    <span th:if="${a_reviews} != null" th:include="fragments/a_review_table :: a_review_table">
    </span>
    <span th:if="${s_papers} != null" th:include="fragments/s_paper_table :: s_paper_table ">
    </span>
</body>
</body>
</html>