ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li h1{
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #FFFCFC;
    float: left;
    padding: 14px 16px;
}

li a{
    font-size: 18px;
    line-height: 21px;
    display: block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    float: right;
    color: #FFFCFC;

}
li a:hover{
    background-color: #111;
}

.jones {
background-color: #160101;
}