<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Bandmeetup Wow</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="POST" action="/login">
    <table>
        <tr>
            <td>
                <label id="unameL" for="uname">Username</label>
                <input id="uname" name="uname" type="text">
            </td>
            <td>
                <label id="passwordL" for="pw">Password</label>
                <input id="pw" name="pw" type="password">
            </td>
            <td>
                <input type="submit"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>