<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:fragment="paper-table">
        <H1 th:text="${paperstate} + ' Papers'"></H1>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author Email</th>
                    <th>version</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="paper:${papers}">
                    <td th:text="${paper.getTitle()}"></td>
                    <td th:text="${paper.getEmail()}"></td>
                    <td th:text="${paper.getVersion()}"></td>
                    <td th:if="${session.role}=='pcm' and ${paperstate} == 'Submitted'" class="navtd"><a th:href="@{/pcm/request/} + ${paper.getId()}">Request Review</a></td>
                    <td th:if="${session.role}== 'pcc'" class="navtd"><a th:href="@{/pcc/review/} + ${paper.getId()}">View</a></td>
                    <td th:if="${session.role} == 'author'" class="navtd"><a th:href="@{/sub/} + ${paper.getId()}">View</a></td>

                </tr>
            </tbody>
        </table>
    </span>
</body>
<script>
</script>
</html>