<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<<span th:fragment="r_review_table">
    <h1>Review Requests</h1>
    <table>
        <thead>
        <tr>
            <th>Paper ID</th>
            <th>Rating</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r_review: ${r_reviews}" >
            <td th:text="${r_review.getPaper_id()}"></td>
            <td th:text="${r_review.getRating()}"></td>
            <td th:text="${r_review.getComments()}"></td>
        </tr>
        </tbody>
    </table>
    </span>


</body>
</html>