<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:fragment="s_paper_table">
    <h1>Submitted Papers</h1>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author Email</th>
                        <th>version</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="s_paper: ${s_papers}" >
                            <td th:text="${s_paper.getTitle()}"></td>
                            <td th:text="${s_papaer.getEmail()}"></td>
                            <td th:text="${s_papaer.getVersion()}"></td>
                            <td><a th:href="@{/pcm/request/} + ${s_paper.getid()}">Review</a></td>
                    </tr>
                </tbody>
            </table>
        </span>

</body>
</html>